body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, sans-serif;
}

h1 {
    color: green;
    font-size: 40px;
}

h2 {
    background-color: lightyellow;
    color: lightgreen;
}

.indiv {
    width: 300px;
    height: 300px;
}

.lasol {
    color: lightskyblue;
}

.lassp {
    color: blue;
}

.lasul {
    color: lightcoral;
}

.lasspul {
    color: red;
}